<div>
    <p>&nbsp;</p>
    <p><button class="btn btn-danger">Danger BTN</button></p>
    <p><button class="btn btn-success">Success BTN</button></p>
    <p><button class="btn btn-danger">Danger BTN</button></p>
    <P>
        <div class="right__card">
            <p>
                <a href="#">Testing</a>
            </p>
            <p>
                <a href="#">Testing</a>
            </p>   

        </div>
    </P>
</div>
